* {
    font-family: "Kumbh Sans", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
     background-color: #19a1ae;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: url(./images/bg-pattern-top.svg), url(./images/bg-pattern-bottom.svg);
  background-repeat: no-repeat;
  background-position: calc(-46vw + 100%) calc(-34vh + 100%), 45vw 45vh;
  }
  h1 {
    color:hsl(229, 23%, 23%);
    margin: 0;
    font-size: 1.3rem;
    margin-top: 20px;
  }
  h1 span {
    color: #9d9ca3;
    font-weight: 400;
    margin-left: 5px;
  }
  h2 {
    color: #9d9ca3;
    font-weight: 400;
    font-size: 1rem;
    margin-bottom: 30px;
  }
  .conteiner {
    background: #fff url("./images/bg-pattern-card.svg");
    background-repeat: repeat no-repeat;
    border-radius: 15px;
    text-align: center;
    padding-top: 85px;
    max-width: 375px;
    flex-grow: 1;
  }
  .img {
    border-radius: 50%;
    border: 7px solid #fff;
  }
  .social {
    display: flex;
    justify-content: space-evenly;
    border-top: 1px solid #e8e8e8;
    padding: 10px 0;
  }
  .social h3 {
    font-size: 1.2rem;
    font-weight: 700;
  }
  .social h3 small {
    display: block;
    color: #9d9ca3;
    font-weight: 400;
    margin-top: 8px;
    letter-spacing: 1px;
    font-size: 0.7rem;
  }
  
