*{
    margin:0;
    padding: 0;
    box-sizing: border-box;

}
@import url(https://fonts.google.com/specimen/Kumbh+Sans);
@media(min-width:300px){
    body {
        background-position: right 50vw bottom 40vh, left 51vw top 48vh;
    }
}
body {
    font-Family: Kumbh Sans;
    font-weight: 400, 700;
  background-image: url(./images/bg-pattern-top.svg), url(./images/bg-pattern-bottom.svg);
  background-color:#19a1ae;
background-repeat: no-repeat;
background-position: right 50vw bottom 40vh, left 51vw top 48vh;
min-height: 100ch;
display: flex;
justify-content: center;
align-items: center;
}
.box{
    margin:28px 0 0 0;
    border: 1px solid #e8e9ec;
}
.conteiner{
width: 350px;
height: 374px;
background-color: white;
border-radius: 15px;
}
.images{
    background-image: url(./images/bg-pattern-card.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 150px;
    border-radius:15px 15px 0 0  ;
    max-width: 100%;
   
}
img{
 margin:-50px 128px 0;
    border-radius: 50px;
}
.nom{
    display: flex;
  justify-content: center;
  align-items: center;
}
.nom h3{
    margin-left: 8px;
    color: #6b7082;
}
.conteiner p {
    text-align: center;
    margin-top:13px ;
    color:#6b7082;
    font-size: 14px;
}
.cont-wraper{
    display: flex;
    justify-content: space-evenly;
    padding:30px 48px 27px 48px;
    text-align: center;
}
.cont-wraper h5{
    color:#6b7082;
}

